<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Composition" version="5.0.1" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="5.0.1" targetFramework="net472" />
  <package id="System.Composition.Convention" version="5.0.1" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="5.0.1" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="5.0.1" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="5.0.1" targetFramework="net472" />
</packages>